
/logs
knownkeys.txt
dropt.log
minecraftinstance.json
/crash-reports
crafttweaker.log
.curseclient
/vintagefix
usernamecache.json
usercache.json
/saves
/optionsof.txt
/options.txt
/mods
/astralsorcery
/betweenlands_gallery
/caches
/downloads
/dumps
/import
/llibrary
/local
/shaderpacks
/xaero
/XaeroWaypoints
